@{
    ViewBag.Title = "Face Teller";
}

<div class="mdl-grid centered">
    <!-- Simple Textfield -->
    <form action="home/processImage">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input"
                   type="text"
                   value="http://www.dreams.metroeve.com/wp-content/uploads/2017/05/dreams.metroeve_face-dreams-meaning.jpg"
                   name="imageUrl"
                   id="imageUrl">
            <label class="mdl-textfield__label" for="imageUrl">Image URL</label>
        </div>
    </form>

</div>
